Client/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listOfBorrowedItems_InputMessage">
    <wsdl:part name="parameters" element="tns:listOfBorrowedItems" />
  </wsdl:message>
  <wsdl:message name="IService1_listOfBorrowedItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:listOfBorrowedItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getBorrowedBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:getBorrowedBooks" />
  </wsdl:message>
  <wsdl:message name="IService1_getBorrowedBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBorrowedBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getBookInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getBookInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_getBookInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBookInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_borrowBook_InputMessage">
    <wsdl:part name="parameters" element="tns:borrowBook" />
  </wsdl:message>
  <wsdl:message name="IService1_borrowBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:borrowBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sum_InputMessage">
    <wsdl:part name="parameters" element="tns:sum" />
  </wsdl:message>
  <wsdl:message name="IService1_sum_OutputMessage">
    <wsdl:part name="parameters" element="tns:sumResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listOfBorrowedItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listOfBorrowedItems" message="tns:IService1_listOfBorrowedItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listOfBorrowedItemsResponse" message="tns:IService1_listOfBorrowedItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBorrowedBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getBorrowedBooks" message="tns:IService1_getBorrowedBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getBorrowedBooksResponse" message="tns:IService1_getBorrowedBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBookInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getBookInfo" message="tns:IService1_getBookInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getBookInfoResponse" message="tns:IService1_getBookInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="borrowBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/borrowBook" message="tns:IService1_borrowBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/borrowBookResponse" message="tns:IService1_borrowBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sum" message="tns:IService1_sum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sumResponse" message="tns:IService1_sum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listOfBorrowedItems">
      <soap:operation soapAction="http://tempuri.org/IService1/listOfBorrowedItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBorrowedBooks">
      <soap:operation soapAction="http://tempuri.org/IService1/getBorrowedBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBookInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/getBookInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="borrowBook">
      <soap:operation soapAction="http://tempuri.org/IService1/borrowBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sum">
      <soap:operation soapAction="http://tempuri.org/IService1/sum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>